@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}


main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4C454C;
    align-items: center;
    color: #fff;
}
main .presentation{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .presentation .nous{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    margin: 10rem;
    width: 50%;
    box-shadow:  0px 3px 50px 0px #FF99CC, 0px 3px 6px 0px #FF99CC;
    border-radius: 20px;
    padding: 3rem;
}
main .presentation .nous h2{
    font-size: 2rem;
    margin: 2rem;
    font-weight: 800;
}
main .presentation .nous .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
main .presentation .nous .container img{
    width: 35%;
    border-radius: 20%;
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16), 0px 3px 6px 0px rgba(0,0,0,0.23);
}

main .presentation .nous .container p{
    font-size: 1.2rem;
    line-height: 1.8;
    padding-bottom: 2rem;
    text-shadow: 5px 5px 10px #FF99CC;
    margin-left: 2rem;
}

main .presentation .info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem;
    width: 60%;
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16), 0px 3px 6px 0px rgba(0,0,0,0.23);
    transition: 0.3s;
}
main .presentation .info p{
    font-size: 1.2rem;
    line-height: 1.8;
    padding-bottom: 2rem;
    margin-left: 2rem;
}
main .presentation .info video{
    width: 40%;
    border-radius: 20px;
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16), 0px 3px 6px 0px rgba(0,0,0,0.23);
}

main .presentation .info:hover{
    transform: scale(1.005);
    color: #FF99CC;
    box-shadow: 0px 3px 50px 0px #FF99CC, 0px 3px 6px 0px #FF99CC;
    transition: 0.3s;
}

  

main .presentation .game_partie {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 5rem;
    padding: 2rem;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16), 0px 3px 6px 0px rgba(0,0,0,0.23);
}
main .game_partie:hover{
    transform: scale(1.005);
    color: #FF99CC;
    box-shadow: 0px 3px 50px 0px #FF99CC, 0px 3px 6px 0px #FF99CC;
    transition: 0.3s;
}

main .presentation .game_partie div{
    width: 25%;
}

main .presentation .game_partie img{
    width: 60%;
    border-radius: 20px;
}
main .presentation .game_partie div p{ 
    font-size: 1.1rem;
    line-height: 1.2;
}
main .presentation .game_partie div h2{
    font-size: 1.5rem;
    margin-bottom: 5rem;
}


main section.equipement {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16), 0px 3px 6px 0px rgba(0,0,0,0.23);
    padding: 2.5rem;
    margin: 3rem;
    transition: 0.3s;
}

main section.equipement:hover{
    transform: scale(1.005);
    color: #FF99CC;
    box-shadow: 0px 3px 50px 0px #FF99CC, 0px 3px 6px 0px #FF99CC;
    transition: 0.3s;
}

main section.equipement h2{
    padding: 2rem;
    font-size: 1.5rem;
}
main section.equipement .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    
}
main section.equipement .container .console {
    border: 1px #fff solid;
    border-radius: 20px;
    padding: 1rem;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(100px);
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16), 0px 3px 6px 0px rgba(0,0,0,0.23);
    height: 10rem;
    width: 15rem;
    transition: all 0.2s ease-in-out;
}
main section.equipement .container .console p{
    padding: 1rem;
    font-size: 1rem;
}

main section.equipement .console img{
    width: 200px;
}

main section.equipement .console:hover{
    color: #FF99CC;
    border: 1px solid #FF99CC;
    transform: translate(-5px, -5px);
    transition: all 0.2s ease-in-out;
}


main section.lieu {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16), 0px 3px 6px 0px rgba(0,0,0,0.23);
    padding: 2rem;
    margin: 3rem;
    border-radius: 20px;
    transition: 0.3s;
}
main section.lieu:hover{
    transform: scale(1.005);
    color: #FF99CC;
    box-shadow: 0px 3px 50px 0px #FF99CC, 0px 3px 6px 0px #FF99CC;
    transition: 0.3s;
}

main section.lieu .google-map iframe {
    height: 25rem;
    width: 50rem;
    border-radius: 20px;
}

main section.lieu h2{
    padding: 2rem;
}

@media screen and (max-width: 1000px){
    main .presentation .nous{
        width: 85%;
    }
    main .presentation .nous .container{
        flex-direction: column;
    }
    main .presentation .nous .container img{
        width: 50%;
    }
    main .presentation .nous .container p{
        margin-left: 0;
    }
    main .presentation .info {
        width:  85%;
        flex-direction: column;
    }
    main .presentation .info video{
        width: 90%;
        margin-bottom: 1rem;
    }

    main .presentation .game_partie {
        width: 90%;
    }
    main .presentation .game_partie div{
        width: 100%;
        margin-top: 1rem;
    }
    main .presentation .game_partie img{
        width: 100%;
    }
    main .equipement{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    main section.equipement .container {
        flex-direction: column;
    }
    main section.equipement .container .console {
        width: 100%;
    }
    main .lieu{
        width: 85%;
    }
    main section.lieu .google-map iframe {
        height: 25rem;
        width: 100%;
    }

    
}