@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

footer{
    width: 100%;
    padding: 2rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: auto;
}

footer p{
    color: #fff;
}

footer section{
    padding: 1rem;
}

footer .left h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
}
footer .left .contact {
    padding-left: 1rem;
}
footer .left .contact h4{
    color: #fff;
    font-size: 1rem;
    padding-bottom: 1rem;
}

footer .right a.logo{
    margin-bottom: 1rem;
}
footer .right p{
    margin-bottom: 1rem;
}
footer .right a{
    text-decoration: none;
    color : #fff
}
footer .right a:hover{
    text-decoration: underline;
    color : #FF99CC
}
