@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4C454C;
    color: #fff;
}

main h2 {
    font-size: 2.5rem;
    margin: 3rem;
    margin-top: 5rem;
    font-weight: 800;
    border: 2px solid #FF99CC;
    border-radius: 20px;
    padding: 2rem;
}

section.planning {
    width: 90%;
	display: flex;
	flex-flow: column;
	align-items: center;
	font-family: "Poppins", serif;
	background: #4C454C;
	background: radial-gradient(
		circle,
		#FF99CC 0%,
		#4C454C 100%
	);
    box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.16), 0px 3px 6px 0px rgba(0,0,0,0.23);
    border-radius: 20px;
    margin: 3rem;
    padding: 3rem 1rem;
}

.planning h3 {
    font-size: 2rem;
    margin: 1rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.planning ul {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 0.5rem;
	list-style: none;
}

@media screen and (max-width: 1500px) {
    .planning ul {
        grid-template-columns: repeat(6, 1fr);
    }
    
}
@media screen and (max-width: 1250px) {
    .planning ul {
        grid-template-columns: repeat(5, 1fr);
    }
    
}
@media screen and (max-width: 1000px) {
    .planning ul {
        grid-template-columns: repeat(4, 1fr);
    }
    
}
@media screen and (max-width: 800px) {
    .planning ul {
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and (max-width: 600px) {
    .planning ul {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

.planning li {
    display: flex;
    width: 10rem;
    height: 10rem;
    margin: 0.25rem;
    flex-flow: column;
    border-radius: 0.2rem;
    padding: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 #FF99CC;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.2s;
}
.planning li:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 #FF99CC;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.2s;
}
.planning time {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    font-weight: 500;
}
.planning .today {
    
    background-color: #4C454C;
}
.planning time {
    font-weight: 800;
}